<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h2>Hyper news</h2>
    {%if news %}
        {% for day in news %}
            <h4>{{day.date}}</h4>
            <ul>
            {% for article in day.news %}
                    <li><a href="{{article.href}}">{{article.title}}</a></li>
            {% endfor %}
            </ul>
        {% endfor %}
    {% else %}
        <h2>No news</h2>
    {% endif%}
    <a target="_blank" href="/news/create/">Create Page</a>
</body>